<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <!--This is a comment
    and it is on multiple lines
    and another comment-->
    <meta charset="UTF-8"/>
    <title>Index- Welcome </title>
</head>
<body>


<p th:text = "${message}">This is a placeholder for message1</p>
<p>Book DataBase Project</p>
<p> <a href = "/addbook">Go to add a new book</a></p>
<p><a href="/showbooks">Go to view all books</a></p>
<p><a href = "/findsku">Search by sku</a></p>
<p><a href = "/findauthor">Search by Author</a></p>
<hr/>

</body>
</html>