<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Book you just added</title>
</head>
<body>
<h1>Showing Book you just added Details</h1>
<p th:text="'Book Sku: ' + ${newBook.bookSku}" />
<p th:text="'Title: ' + ${newBook.bookTitle}" />
<p th:text="'Author: ' + ${newBook.bookAuthor}" />
<p th:text="'Description: ' + ${newBook.bookDescription}" />
<p th:text="'Price: ' + ${newBook.bookPrice}" />
<p><a href="/addbook">Add another Book</a></p>
<p><a href="/showbooks">Show all the books in the database</a></p>
</body>
</html>